body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
h1 {
    text-align: center;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.note {
    font-size: 0.9em;
    color: #555;
}
img {
    width: 100%;
    height: auto;
}
mat-list-option:nth-child(n){
    height: 200px;
}